* {   
  margin: 0;   
  padding: 0; 
} 
header {
  display: flex; 
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 95px;
  
  background: #020509;
}
.logo {
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 102.6%;


letter-spacing: 8px;

color: #D4DDE1;
}
.dedinsaid {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  margin-right: 40px;
  text-decoration: none;
  
  color: #D4DDE1;
}
.guli {
  color: red;
}
.pon {
  height: 700px;
  background: rgba(255, 206, 56, 0.05);
  padding-left: 300px;
  padding-top: 150px;
}
.titlepon {
  
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 79px;

color: #020509;
margin-bottom: 45px;
}
.nottitlepon {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  
  color: #727272;
  width: 540px;
}
.buttonpon {
margin-top: 18px;
width: 225px;
height: 65px;
border: none;

background: #FFCE38;
border-radius: 4px
}
.pon1 {
  height: 359px;
  flex-direction: column;
  padding-top: 85px;
  background: rgba(0, 207, 250, 0.05);
}
.titlepon1 {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
text-align: center;


color: #020509;
}
.nottitlepon1 {
font-style: normal;
font-weight: 400;
font-size: 16px;
width: 540px;
padding-left: 690px;
padding-top: 180px;

color: #727272;

}