* {   
  margin: 0;   
  padding: 0; 
} 
header {
  display: flex; 
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 95px;
  
  background: #020509;
}
.logo {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 102.6%;



letter-spacing: 8px;

color: #D4DDE1;
}
.dedinsaid {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  margin-right: 40px;
  text-decoration: none;
  
  color: #D4DDE1;
}
.guli {
  color: red;
}
.pon {
  height: 700px;
  background: rgba(255, 206, 56, 0.05);
  padding-left: 300px;
  padding-top: 150px;
}
.titlepon {
  
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 79px;

color: #020509;
margin-bottom: 45px;
}
.nottitlepon {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  
  color: #727272;
  width: 540px;
}
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #20d6ee;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #2900df}

.button:active {
  background-color: #0084ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.pon1 {
  height: 359px;
  flex-direction: column;
  background: rgba(0, 207, 250, 0.05);
}
.down {
  position: absolute;
width: 88%;
height: 250px;
left: 0px;
top: 1059px;
padding-left: 10px;
padding-top: 70px;
padding-right: 190px;
display: flex;
justify-content: space-around;

background: #020509;
}
.videocard {
  width: 80px;
}


